<div class="container" ng-controller="RegisterController">
	<i class="fa-solid fa-left-long be-pointer" ng-click="goBack()"></i>
	<h2 class="mt-5">Cadastro</h2>
	<form name="registerForm" ng-submit="register()" novalidate>
		<div class="form-group" ng-class="{'has-error': registerForm.name.$touched && registerForm.name.$invalid}">
			<label for="name">Nome:</label>
			<input type="text" name="name" ng-model="user.name" required class="form-control" placeholder="Digite seu nome">
			<div ng-if="registerForm.name.$touched && registerForm.name.$invalid" class="text-danger">
				O campo nome é obrigatório.
			</div>
		</div>
		<div class="form-group" ng-class="{'has-error': registerForm.email.$touched && registerForm.email.$invalid}">
			<label for="email">Email:</label>
			<input type="email" name="email" ng-model="user.email" required class="form-control" placeholder="Digite seu email">
			<div ng-if="registerForm.email.$touched && registerForm.email.$invalid" class="text-danger">
				Insira um endereço de email válido.
			</div>
		</div>
		<div class="form-group" ng-class="{'has-error': registerForm.password.$touched && registerForm.password.$invalid}">
			<label for="password">Senha:</label>
			<input type="password" name="password" ng-model="user.password" required class="form-control" placeholder="Digite sua senha">
			<div ng-if="registerForm.password.$touched && registerForm.password.$invalid" class="text-danger">
				O campo senha é obrigatório.
			</div>
		</div>
		<div class="form-group" ng-class="{'has-error': registerForm.confirmPassword.$touched && (user.confirmPassword !== user.password)}">
			<label for="confirmPassword">Confirmação da Senha:</label>
			<input type="password" name="confirmPassword" ng-model="user.confirmPassword" required class="form-control" placeholder="Confirme sua senha">
			<div ng-if="registerForm.confirmPassword.$touched && (user.confirmPassword !== user.password)" class="text-danger">
				As senhas não coincidem.
			</div>
		</div>
		<button type="submit" class="btn btn-primary" ng-disabled="registerForm.$invalid">Cadastrar</button>
		<div ng-if="successMessage" class="alert alert-success mt-3" role="alert">
			{{ successMessage }}
		</div>
		<div ng-if="errorMessage" class="alert alert-danger mt-3" role="alert">
			{{ errorMessage }}
		</div>
	</form>
</div>